Python Basics

In [ ]:
'''
  This is Multiline Comment
'''

'\n  This is Multiline Comment\n'

In [ ]:
print('Hello to Python')

Hello to Python

In [ ]:
# The following are Integers
print(2)
print(10)

2
10

# The Following are all Floats

In [ ]:
print(10.987)
print(8.0)

10.987
8.0

# The Following are Booleans

In [ ]:
print(True)
print(False)

True
False

#Strings

In [ ]:
print(' ')
print('There is a hope even if you lose')
print('True')

There is a hope even if you lose
True

In [ ]:
print('Noman Abbasi')
print('Abcs')
type('Absc')

Noman Abbasi
Abcs

str

# Variables

In [ ]:
Sport='Cricket'
print(Sport)

Cricket

In [ ]:
num1 =10
num2=28.3
print(num1,num2)

10 28.3

In [ ]:
type(num1),type(num2)

(int, float)

In [ ]:
name='Noman Abbasi'
fav_number=4
print(name,fav_number)

Noman Abbasi 4

In [ ]:
result=num1+num2
print(result)
type(result)

38.3

float

In [ ]:
result +=1
print(result)

39.3

In [ ]:
result *=num1
print(result)

393.0

In [ ]:
x = 3
y = 10
result= x*y
print(result)

30

# Area Calculation

In [ ]:
 width = float (input('Please Enter Width:\t'))
 height = float (input('Please Enter Height:\t'))
 Area = width * height
 print('Area: {}'.format(Area))

Please Enter Width:	245.54
Please Enter Height:	13.66
Area: 3354.0764

In [ ]:
name = 'Noman' + " " + 'Abbasi'
print(name)

Noman Abbasi

# String Concatination

In [ ]:
# Using multiple variables
first_name = 'Noman'
last_name = 'Abbasi'
ful_name = first_name + ' ' + last_name
print(ful_name)

Noman Abbasi

In [ ]:
# using format
f_name='Noman'
l_name='Abbasi'
print('Hi! {} {}'.format(f_name,l_name))

Hi! Noman Abbasi

In [ ]:
# using f string
name='Noman'
print(f'Hi! {name}')

Hi! Noman

In [ ]:
# String Indexing
word='Hello World'
print(word[0])
print(word[-1])
print(word[1])

H
d
e

In [ ]:
# String Slicing
print(word[0:3])
print(word[:-1])

Hel
Hello Worl

In [ ]:
s='Look over that way'
print(s.find('over'))

5

In [ ]:
c_name='Coding Temple lnc.'
c_adress='283 franklin St.'
c_city='Boston, MA'
product_name=['Books','Computer','Monitor']
product_price=[49.95,579.99,124.89]
greeting='Thanks for Shopping with us today!'

In [ ]:
print('*'*50)
print(f'\t\t{c_name}')
print(f'\t\t{c_adress}')
print(f'\t\t{c_city}')
print('='*50)
print('\tProduct Name'+'  '+' Product Price')
print(f'\t{product_name[0]}'f'\t\t${product_price[0]}')
print(f'\t{product_name[1]}'f'\t${product_price[1]}')
print(f'\t{product_name[2]}'f'\t\t${product_price[2]}')
print('='*50)
print('\t\t\tTotal')
print(f'\t\t\t${sum(product_price)}')
print('='*50,'\n')
print(f'\t{greeting}\n')
print('*'*50)

**************************************************
		Coding Temple lnc.
		283 franklin St.
		Boston, MA
==================================================
	Product Name   Product Price
	Books		$49.95
	Computer	$579.99
	Monitor		$124.89
==================================================
			Total
			$754.83
==================================================

	Thanks for Shopping with us today!

**************************************************

# If Else Statements

In [ ]:
x=int (input('Enter a number to check is odd or even'))
if x % 2 == 0:
  print(f'{x} : Number is even')
else:
  print(f'{x} : Number is odd')

Enter a number to check is odd or even25
25 : Number is odd

In [4]:
x=float (input('Enter a value : '))
y=float (input('Enter a value : '))
if x < y:
  print('First Number is less.')
elif x > y:
  print( 'First Number is greater ')
else:
  print('Both are Equal')

Enter a value : 12
Enter a value : 12
Both are Equal

In [7]:
x=float (input('Enter a value : '))
y=float (input('Enter a value : '))
if x == y:
  print('Both are equal')
else:
  if x < y:
    print('First Number is less')
  else:
    print('First Number is greater')

Enter a value : 35
Enter a value : 21
First Number is greater