<a href="https://colab.research.google.com/github/Nomi230/ColabWork/blob/main/PracticePython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Basics like variable 
# understand the programming work flow with some gui based libraries
# Use Turtle library 
# Use calender library 
# Use if-else statement
# Use of while Loop
#For Loop
#Primitive Data Types(int,float,string,boolean)
#Casting(change of data types)

In [ ]:
a = 10
b=10
print(a)

10

In [ ]:
!pip3 install ColabTurtle
from ColabTurtle.Turtle import *
#turtle is a gui base library fun to play with it

In [ ]:
import ColabTurtle.Turtle as tur
#to use this library it needs to be initialized first
initializeTurtle()
def square():
  x = tur.forward(100)
  nomi_turtle = tur.right(90)
  x = tur.forward(100)
  nomi_turtle = tur.right(90)
  x = tur.forward(100)
  nomi_turtle = tur.right(90)
  x = tur.forward(100)
  nomi_turtle = tur.right(90)
  x = tur.forward(100)

print(tur.pos())
tur.goto(10,10)
tur.home()
tur.left(90)
tur.forward(100)
square()

(400, 250)

In [ ]:
import calendar as cal
#calender is pythons library use to access dates or months or years.

In [ ]:
print(cal.weekheader(6))
print(cal.firstweekday())

 Mon    Tue    Wed    Thu    Fri    Sat    Sun
0

In [ ]:
print(cal.month(2018, 5))

      May 2018
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

In [ ]:
print(cal.monthcalendar(1994, 2))

[[0, 1, 2, 3, 4, 5, 6], [7, 8, 9, 10, 11, 12, 13], [14, 15, 16, 17, 18, 19, 20], [21, 22, 23, 24, 25, 26, 27], [28, 0, 0, 0, 0, 0, 0]]

In [ ]:
print(cal.weekday(2018, 5, 25 ))

4

In [ ]:
print(cal.isleap(2021))

False

In [ ]:
print(cal.leapdays(1990,2021))

8

In [ ]:
print(cal.calendar(1994))

                                  1994

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [ ]:
print(200>100)

True

In [ ]:
count = 20
clear()
while (count == 20):
  square()
  tur.forward(50)
  tur.left(90)
  count -=1
  if count == 0:
    break
  else:
    continue

In [ ]:
clear()
for i in range(2):
  square()

In [ ]:
s = 'iambit late'
print(s[:9:2])
s = 'iambit late'
print(s[::2])

imi a
imi ae

In [ ]:
#List
l1=[1,23,'noman','adff',2.00,[2,2.0,34,'ds']]
print(l1)
print(l1[5])
print(l1[5][2])
l1.append(7)
print(l1)

[1, 23, 'noman', 'adff', 2.0, [2, 2.0, 34, 'ds']]
[2, 2.0, 34, 'ds']
34
[1, 23, 'noman', 'adff', 2.0, [2, 2.0, 34, 'ds'], 7]

In [ ]:
l2=[3,34,4.0]
l2.append(3)
l2
l2.insert(4,'asd')
l2
l2.insert(9,'das')
l2
l2.remove('das')#remove fuction need exact value to be removed
l2
l2.sort()#to sort the list variable type should be same it wont work in,like str and float/int sorting

In [ ]:
l2.reverse()
l2

['asd', 34, 4.0, 3, 3]

In [ ]:
for x in l2:#thhis to give idea that list is iteratable
  print(x)

asd
34
4.0
3
3

In [ ]:
# indexing/slicing/striding
digits=[1,2,3,4,5,6,7,8,9,0]
print(digits[4])
print(digits[:-3])
print(digits[9::-3])#striding means list has starting point & ending point & then step size
print(digits[-9:-1:2])
print(digits[::-2])
print(digits[::-1])# if you are following reverse order then should follow the order accordingly

5
[1, 2, 3, 4, 5, 6, 7]
[0, 7, 4, 1]
[2, 4, 6, 8]
[0, 8, 6, 4, 2]
[0, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
digits=[1,2,3,4,5,6,7,8,9,0]
for i in range(len(digits)):
  print(digits[0:i])

[]
[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in range(len(digits)):
  print(digits[i:i+3])

[1, 2, 3]
[2, 3, 4]
[3, 4, 5]
[4, 5, 6]
[5, 6, 7]
[6, 7, 8]
[7, 8, 9]
[8, 9, 0]
[9, 0]
[0]

In [ ]:
window_e = 4
for i in range(len(digits)-(window_e-1)):
  print(digits[i:i+window_e])

[1, 2, 3, 4]
[2, 3, 4, 5]
[3, 4, 5, 6]
[4, 5, 6, 7]
[5, 6, 7, 8]
[6, 7, 8, 9]
[7, 8, 9, 0]

In [ ]:
window_e = 4
for i in range(len(digits)-3):
  print(digits[i:i+window_e])

[1, 2, 3, 4]
[2, 3, 4, 5]
[3, 4, 5, 6]
[4, 5, 6, 7]
[5, 6, 7, 8]
[6, 7, 8, 9]
[7, 8, 9, 0]

In [ ]:
#string Manipulation
x = "asdb,adsj,adsf,gfa,tr,wef"
l=x.split(',')# string return a list of words

joined = ' and '.join(l)
joined1 = 'and'.join(l)
joined2 = ' and'.join(l)
joined3 = 'and '.join(l)
print(joined)
print(joined1)
print(joined2)
print(joined3)

asdb and adsj and adsf and gfa and tr and wef
asdbandadsjandadsfandgfaandtrandwef
asdb andadsj andadsf andgfa andtr andwef
asdband adsjand adsfand gfaand trand wef

In [ ]:
#Tuple
l=(1,2,3,3)
type(l)
print(l[1])
#To have secure data assigned to it like 'Credit Card Details which need to be exact for accessibility.
credictCard1=(123123123132123, 'Noman Abbasi', '12/24', 500)
credictCard2=(165127823132123, 'Noman Abbasi', '12/24', 500)
mycards = credictCard1, credictCard2#it returns tuple by default
mycards1 = [credictCard1, credictCard2]
print(mycards)
print(mycards1)

2
((123123123132123, 'Noman Abbasi', '12/24', 500), (165127823132123, 'Noman Abbasi', '12/24', 500))
[(123123123132123, 'Noman Abbasi', '12/24', 500), (165127823132123, 'Noman Abbasi', '12/24', 500)]

In [ ]:
person1 =('sdfadsf', 25 , 'pizza')
person2 =('sdsvsf', 27 , 'izza')
people= [person1 , person2]
#name, age, food = person1#Unpacking tuple
#print(name)
#print(age)
#print(food)
for name, age, food in people:
  print(name)
  print(age)
  print(food)
  print()

sdfadsf
25
pizza

sdsvsf
27
izza

In [ ]:
#Set{}
#They dont have duplicates like 12,12
s = {'abc','def'}
s.add(3)
s.add('abc')
print(s)

{'def', 'abc', 3}

In [ ]:
l=[1,2,3,3,4,4,5,'abc','abc']
remove_duplicates = set(l)
new_list_wothout_duplicates = list(remove_duplicates)
print(remove_duplicates)
print(new_list_wothout_duplicates)

{1, 2, 3, 4, 5, 'abc'}
[1, 2, 3, 4, 5, 'abc']

In [ ]:
l1={'book1','book2','book3'}
l2={'book1','book4'}
all_books=l1.union(l2)
print(all_books)

{'book1', 'book2', 'book3', 'book4'}

In [ ]:
l1={'book1','book2','book3'}
l2={'book1','book4'}
all_books=l1.intersection(l2)
print(all_books)

{'book1'}

In [ ]:
l1={'book1','book2','book3'}
l2={'book1','book4'}
all_books=l1.difference(l2)
print(all_books)
all_books=l2.difference(l1)
print(all_books)

{'book2', 'book3'}
{'book4'}

In [ ]:
#Dictionaries
#get() , items(), keys(), values(), pop(), popitem(), clear()
#dictionary = { }
grocaries = {'banana':5 , 'orange':6}
print(grocaries['banana'])
print(grocaries.get(''))#Return none instead of error.

5
None

In [ ]:
contact_info = { 'user1':{'name':'nomi','age': 25,'email': 'abc@gmail.com','phone': 414718934},
                'user2': {'name':'jhon','age':32,'email':'def@gmail.com','phone':414156937}}

In [ ]:
print(contact_info['user1'])
print(contact_info['user1']['name'])

{'name': 'nomi', 'age': 25, 'email': 'abc@gmail.com', 'phone': 414718934}
nomi

In [ ]:
sentence = 'I like the nomi because the nomi it the best of best'

In [ ]:
word_count = {
    'I' : 1,
    'nomi':2,
    'the':3,
    'best':2

}

In [ ]:
word_count['abbasi']=1

In [ ]:
word_count

{'I': 1, 'abbasi': 1, 'best': 2, 'nomi': 2, 'the': 3}

In [ ]:
print(word_count.popitem())#return tuple

('abbasi', 1)

In [ ]:
print(word_count)

{'I': 1, 'nomi': 2, 'the': 3, 'best': 2}

In [ ]:
contact_info.items()

dict_items([('user1', {'name': 'nomi', 'age': 25, 'email': 'abc@gmail.com', 'phone': 414718934}), ('user2', {'name': 'jhon', 'age': 32, 'email': 'def@gmail.com', 'phone': 414156937})])

In [ ]:
contact_info.keys()

dict_keys(['user1', 'user2'])

In [ ]:
contact_info.values()

dict_values([{'name': 'nomi', 'age': 25, 'email': 'abc@gmail.com', 'phone': 414718934}, {'name': 'jhon', 'age': 32, 'email': 'def@gmail.com', 'phone': 414156937}])

In [ ]:
contact_info.pop('user2')

{'age': 32, 'email': 'def@gmail.com', 'name': 'jhon', 'phone': 414156937}

In [ ]:
print(contact_info)

{'user1': {'name': 'nomi', 'age': 25, 'email': 'abc@gmail.com', 'phone': 414718934}}

In [ ]:
contact_info.keys()

dict_keys(['user1'])

In [ ]:
word_count.clear()

In [ ]:
word_count

{}

In [ ]:
from collections import OrderedDict as Dd

In [ ]:
abc ={
    'a' :1,
    'b':4,
    'c':3,
    'd':6
}

In [ ]:
for key in abc:
  print(key)

a
b
c
d

In [ ]:
print(abc.items())

odict_items([])

In [ ]:
#mutability means changeable 
l=(1,3,45,6,[3,43,5])
type(l)
l[4][0]=7#tuple is immutable but if there is a list in tuple that value can be changed using indexing assignment

In [ ]:
print(l)#Everything in python is an object so every object has its global properties.

(1, 3, 45, 6, [7, 43, 5])

In [ ]:
names = ['as','name','is','hmmm']#list comprehensions
l=[]
for person in names:
  l.append(person + 'is')
print(l)

['asis', 'nameis', 'isis', 'hmmmis']

In [ ]:
print([person + 'blessed'  for person in names])

['asblessed', 'nameblessed', 'isblessed', 'hmmmblessed']

In [ ]:
movies_and_rating = {'dark knoght': 6, 'fifty shades': 5,'fifty shades':4,'end games':7}
l = []
for movie in movies_and_rating:
  if movies_and_rating[movie] > 5:
    l.append(movie)
print(l)

['dark knoght', 'end games']

In [ ]:
print([movie for movie in movies_and_rating if movies_and_rating[movie]>5])

['dark knoght', 'end games']

In [ ]:
#Regex
import re

In [ ]:
text= 'noumanabbasi280@gmail.com'
pattern = re.compile('8')
result = pattern.search(text)
print(result)

<re.Match object; span=(13, 14), match='8'>

In [ ]:
text = ' hi this is me , noimiabbasi123@gmail.com .not for sale'
pattern = re.compile('[a-zA-Z0-9]+@[a-zA-z]+\.+[a-zA-Z]+')
#This pattern is used for email id search.
# + sign search for whole string, '\' looks for specific things that is mentioned after that.
result = pattern.search(text)#search only looks for first match then return
print(result)

<re.Match object; span=(17, 41), match='noimiabbasi123@gmail.com'>

In [ ]:
text = ' hi this is me , noimiabbasi123@gmail.com .not for sale abbbasi.nouman2-3-4_@gmail.com'
pattern = re.compile('[a-zA-Z0-9\.\-\_]+@[a-zA-z]+\.+[a-zA-Z]+')
result = pattern.findall(text)
print(result)

['noimiabbasi123@gmail.com', 'abbbasi.nouman2-3-4_@gmail.com']

In [ ]:
#Datetime library is very useful in sense of 
#what date today is or i want to set reminder 
#or send mail on a particular day
# last message eas sent or how long this conversation is going

In [ ]:
import datetime as dt

In [ ]:
today = dt.date.today()
print(repr(today))#repr is function which gives an update of object type.

datetime.date(2022, 4, 15)

In [ ]:
birthday = dt.date(1995, 2, 27)
print(birthday)

1995-02-27

In [ ]:
day_since_today = today - birthday
print(day_since_today)

9909 days, 0:00:00

In [ ]:
day_since_today = (today - birthday).days
print(day_since_today)

9909

In [ ]:
tdelta = dt.timedelta(days =15 )
print(today+tdelta*2)#tdelta with * could only used once not + or -

2022-05-15

In [ ]:
#datetime.days = Y, M, D
#datetime.time = H,M,S,M
#datetime.datetime = Y,M,D,H,M,S,M

In [ ]:
hour_delta = dt.timedelta(hours=13)
print(dt.datetime.now()+ hour_delta)

2022-04-16 11:34:42.451213

In [ ]:
!pip install pytz

Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (2018.9)

In [ ]:
import pytz

In [ ]:
print(dt.datetime.now(tz=pytz.UTC))

2022-04-15 22:28:38.819658+00:00

In [ ]:
datetime_today = dt.datetime.now(tz=pytz.UTC)
time_pecifice = datetime_today.astimezone(pytz.timezone('Europe/Helsinki'))
print(time_pecifice)

2022-04-16 01:28:41.984740+03:00

In [ ]:
for tz in pytz.all_timezones:
  print(tz)

Africa/Abidjan
Africa/Accra
Africa/Addis_Ababa
Africa/Algiers
Africa/Asmara
Africa/Asmera
Africa/Bamako
Africa/Bangui
Africa/Banjul
Africa/Bissau
Africa/Blantyre
Africa/Brazzaville
Africa/Bujumbura
Africa/Cairo
Africa/Casablanca
Africa/Ceuta
Africa/Conakry
Africa/Dakar
Africa/Dar_es_Salaam
Africa/Djibouti
Africa/Douala
Africa/El_Aaiun
Africa/Freetown
Africa/Gaborone
Africa/Harare
Africa/Johannesburg
Africa/Juba
Africa/Kampala
Africa/Khartoum
Africa/Kigali
Africa/Kinshasa
Africa/Lagos
Africa/Libreville
Africa/Lome
Africa/Luanda
Africa/Lubumbashi
Africa/Lusaka
Africa/Malabo
Africa/Maputo
Africa/Maseru
Africa/Mbabane
Africa/Mogadishu
Africa/Monrovia
Africa/Nairobi
Africa/Ndjamena
Africa/Niamey
Africa/Nouakchott
Africa/Ouagadougou
Africa/Porto-Novo
Africa/Sao_Tome
Africa/Timbuktu
Africa/Tripoli
Africa/Tunis
Africa/Windhoek
America/Adak
America/Anchorage
America/Anguilla
America/Antigua
America/Araguaina
America/Argentina/Buenos_Aires
America/Argentina/Catamarca
America/Argentina/ComodRivadavia
America/Argentina/Cordoba
America/Argentina/Jujuy
America/Argentina/La_Rioja
America/Argentina/Mendoza
America/Argentina/Rio_Gallegos
America/Argentina/Salta
America/Argentina/San_Juan
America/Argentina/San_Luis
America/Argentina/Tucuman
America/Argentina/Ushuaia
America/Aruba
America/Asuncion
America/Atikokan
America/Atka
America/Bahia
America/Bahia_Banderas
America/Barbados
America/Belem
America/Belize
America/Blanc-Sablon
America/Boa_Vista
America/Bogota
America/Boise
America/Buenos_Aires
America/Cambridge_Bay
America/Campo_Grande
America/Cancun
America/Caracas
America/Catamarca
America/Cayenne
America/Cayman
America/Chicago
America/Chihuahua
America/Coral_Harbour
America/Cordoba
America/Costa_Rica
America/Creston
America/Cuiaba
America/Curacao
America/Danmarkshavn
America/Dawson
America/Dawson_Creek
America/Denver
America/Detroit
America/Dominica
America/Edmonton
America/Eirunepe
America/El_Salvador
America/Ensenada
America/Fort_Nelson
America/Fort_Wayne
America/Fortaleza
America/Glace_Bay
America/Godthab
America/Goose_Bay
America/Grand_Turk
America/Grenada
America/Guadeloupe
America/Guatemala
America/Guayaquil
America/Guyana
America/Halifax
America/Havana
America/Hermosillo
America/Indiana/Indianapolis
America/Indiana/Knox
America/Indiana/Marengo
America/Indiana/Petersburg
America/Indiana/Tell_City
America/Indiana/Vevay
America/Indiana/Vincennes
America/Indiana/Winamac
America/Indianapolis
America/Inuvik
America/Iqaluit
America/Jamaica
America/Jujuy
America/Juneau
America/Kentucky/Louisville
America/Kentucky/Monticello
America/Knox_IN
America/Kralendijk
America/La_Paz
America/Lima
America/Los_Angeles
America/Louisville
America/Lower_Princes
America/Maceio
America/Managua
America/Manaus
America/Marigot
America/Martinique
America/Matamoros
America/Mazatlan
America/Mendoza
America/Menominee
America/Merida
America/Metlakatla
America/Mexico_City
America/Miquelon
America/Moncton
America/Monterrey
America/Montevideo
America/Montreal
America/Montserrat
America/Nassau
America/New_York
America/Nipigon
America/Nome
America/Noronha
America/North_Dakota/Beulah
America/North_Dakota/Center
America/North_Dakota/New_Salem
America/Ojinaga
America/Panama
America/Pangnirtung
America/Paramaribo
America/Phoenix
America/Port-au-Prince
America/Port_of_Spain
America/Porto_Acre
America/Porto_Velho
America/Puerto_Rico
America/Punta_Arenas
America/Rainy_River
America/Rankin_Inlet
America/Recife
America/Regina
America/Resolute
America/Rio_Branco
America/Rosario
America/Santa_Isabel
America/Santarem
America/Santiago
America/Santo_Domingo
America/Sao_Paulo
America/Scoresbysund
America/Shiprock
America/Sitka
America/St_Barthelemy
America/St_Johns
America/St_Kitts
America/St_Lucia
America/St_Thomas
America/St_Vincent
America/Swift_Current
America/Tegucigalpa
America/Thule
America/Thunder_Bay
America/Tijuana
America/Toronto
America/Tortola
America/Vancouver
America/Virgin
America/Whitehorse
America/Winnipeg
America/Yakutat
America/Yellowknife
Antarctica/Casey
Antarctica/Davis
Antarctica/DumontDUrville
Antarctica/Macquarie
Antarctica/Mawson
Antarctica/McMurdo
Antarctica/Palmer
Antarctica/Rothera
Antarctica/South_Pole
Antarctica/Syowa
Antarctica/Troll
Antarctica/Vostok
Arctic/Longyearbyen
Asia/Aden
Asia/Almaty
Asia/Amman
Asia/Anadyr
Asia/Aqtau
Asia/Aqtobe
Asia/Ashgabat
Asia/Ashkhabad
Asia/Atyrau
Asia/Baghdad
Asia/Bahrain
Asia/Baku
Asia/Bangkok
Asia/Barnaul
Asia/Beirut
Asia/Bishkek
Asia/Brunei
Asia/Calcutta
Asia/Chita
Asia/Choibalsan
Asia/Chongqing
Asia/Chungking
Asia/Colombo
Asia/Dacca
Asia/Damascus
Asia/Dhaka
Asia/Dili
Asia/Dubai
Asia/Dushanbe
Asia/Famagusta
Asia/Gaza
Asia/Harbin
Asia/Hebron
Asia/Ho_Chi_Minh
Asia/Hong_Kong
Asia/Hovd
Asia/Irkutsk
Asia/Istanbul
Asia/Jakarta
Asia/Jayapura
Asia/Jerusalem
Asia/Kabul
Asia/Kamchatka
Asia/Karachi
Asia/Kashgar
Asia/Kathmandu
Asia/Katmandu
Asia/Khandyga
Asia/Kolkata
Asia/Krasnoyarsk
Asia/Kuala_Lumpur
Asia/Kuching
Asia/Kuwait
Asia/Macao
Asia/Macau
Asia/Magadan
Asia/Makassar
Asia/Manila
Asia/Muscat
Asia/Nicosia
Asia/Novokuznetsk
Asia/Novosibirsk
Asia/Omsk
Asia/Oral
Asia/Phnom_Penh
Asia/Pontianak
Asia/Pyongyang
Asia/Qatar
Asia/Qostanay
Asia/Qyzylorda
Asia/Rangoon
Asia/Riyadh
Asia/Saigon
Asia/Sakhalin
Asia/Samarkand
Asia/Seoul
Asia/Shanghai
Asia/Singapore
Asia/Srednekolymsk
Asia/Taipei
Asia/Tashkent
Asia/Tbilisi
Asia/Tehran
Asia/Tel_Aviv
Asia/Thimbu
Asia/Thimphu
Asia/Tokyo
Asia/Tomsk
Asia/Ujung_Pandang
Asia/Ulaanbaatar
Asia/Ulan_Bator
Asia/Urumqi
Asia/Ust-Nera
Asia/Vientiane
Asia/Vladivostok
Asia/Yakutsk
Asia/Yangon
Asia/Yekaterinburg
Asia/Yerevan
Atlantic/Azores
Atlantic/Bermuda
Atlantic/Canary
Atlantic/Cape_Verde
Atlantic/Faeroe
Atlantic/Faroe
Atlantic/Jan_Mayen
Atlantic/Madeira
Atlantic/Reykjavik
Atlantic/South_Georgia
Atlantic/St_Helena
Atlantic/Stanley
Australia/ACT
Australia/Adelaide
Australia/Brisbane
Australia/Broken_Hill
Australia/Canberra
Australia/Currie
Australia/Darwin
Australia/Eucla
Australia/Hobart
Australia/LHI
Australia/Lindeman
Australia/Lord_Howe
Australia/Melbourne
Australia/NSW
Australia/North
Australia/Perth
Australia/Queensland
Australia/South
Australia/Sydney
Australia/Tasmania
Australia/Victoria
Australia/West
Australia/Yancowinna
Brazil/Acre
Brazil/DeNoronha
Brazil/East
Brazil/West
CET
CST6CDT
Canada/Atlantic
Canada/Central
Canada/Eastern
Canada/Mountain
Canada/Newfoundland
Canada/Pacific
Canada/Saskatchewan
Canada/Yukon
Chile/Continental
Chile/EasterIsland
Cuba
EET
EST
EST5EDT
Egypt
Eire
Etc/GMT
Etc/GMT+0
Etc/GMT+1
Etc/GMT+10
Etc/GMT+11
Etc/GMT+12
Etc/GMT+2
Etc/GMT+3
Etc/GMT+4
Etc/GMT+5
Etc/GMT+6
Etc/GMT+7
Etc/GMT+8
Etc/GMT+9
Etc/GMT-0
Etc/GMT-1
Etc/GMT-10
Etc/GMT-11
Etc/GMT-12
Etc/GMT-13
Etc/GMT-14
Etc/GMT-2
Etc/GMT-3
Etc/GMT-4
Etc/GMT-5
Etc/GMT-6
Etc/GMT-7
Etc/GMT-8
Etc/GMT-9
Etc/GMT0
Etc/Greenwich
Etc/UCT
Etc/UTC
Etc/Universal
Etc/Zulu
Europe/Amsterdam
Europe/Andorra
Europe/Astrakhan
Europe/Athens
Europe/Belfast
Europe/Belgrade
Europe/Berlin
Europe/Bratislava
Europe/Brussels
Europe/Bucharest
Europe/Budapest
Europe/Busingen
Europe/Chisinau
Europe/Copenhagen
Europe/Dublin
Europe/Gibraltar
Europe/Guernsey
Europe/Helsinki
Europe/Isle_of_Man
Europe/Istanbul
Europe/Jersey
Europe/Kaliningrad
Europe/Kiev
Europe/Kirov
Europe/Lisbon
Europe/Ljubljana
Europe/London
Europe/Luxembourg
Europe/Madrid
Europe/Malta
Europe/Mariehamn
Europe/Minsk
Europe/Monaco
Europe/Moscow
Europe/Nicosia
Europe/Oslo
Europe/Paris
Europe/Podgorica
Europe/Prague
Europe/Riga
Europe/Rome
Europe/Samara
Europe/San_Marino
Europe/Sarajevo
Europe/Saratov
Europe/Simferopol
Europe/Skopje
Europe/Sofia
Europe/Stockholm
Europe/Tallinn
Europe/Tirane
Europe/Tiraspol
Europe/Ulyanovsk
Europe/Uzhgorod
Europe/Vaduz
Europe/Vatican
Europe/Vienna
Europe/Vilnius
Europe/Volgograd
Europe/Warsaw
Europe/Zagreb
Europe/Zaporozhye
Europe/Zurich
GB
GB-Eire
GMT
GMT+0
GMT-0
GMT0
Greenwich
HST
Hongkong
Iceland
Indian/Antananarivo
Indian/Chagos
Indian/Christmas
Indian/Cocos
Indian/Comoro
Indian/Kerguelen
Indian/Mahe
Indian/Maldives
Indian/Mauritius
Indian/Mayotte
Indian/Reunion
Iran
Israel
Jamaica
Japan
Kwajalein
Libya
MET
MST
MST7MDT
Mexico/BajaNorte
Mexico/BajaSur
Mexico/General
NZ
NZ-CHAT
Navajo
PRC
PST8PDT
Pacific/Apia
Pacific/Auckland
Pacific/Bougainville
Pacific/Chatham
Pacific/Chuuk
Pacific/Easter
Pacific/Efate
Pacific/Enderbury
Pacific/Fakaofo
Pacific/Fiji
Pacific/Funafuti
Pacific/Galapagos
Pacific/Gambier
Pacific/Guadalcanal
Pacific/Guam
Pacific/Honolulu
Pacific/Johnston
Pacific/Kiritimati
Pacific/Kosrae
Pacific/Kwajalein
Pacific/Majuro
Pacific/Marquesas
Pacific/Midway
Pacific/Nauru
Pacific/Niue
Pacific/Norfolk
Pacific/Noumea
Pacific/Pago_Pago
Pacific/Palau
Pacific/Pitcairn
Pacific/Pohnpei
Pacific/Ponape
Pacific/Port_Moresby
Pacific/Rarotonga
Pacific/Saipan
Pacific/Samoa
Pacific/Tahiti
Pacific/Tarawa
Pacific/Tongatapu
Pacific/Truk
Pacific/Wake
Pacific/Wallis
Pacific/Yap
Poland
Portugal
ROC
ROK
Singapore
Turkey
UCT
US/Alaska
US/Aleutian
US/Arizona
US/Central
US/East-Indiana
US/Eastern
US/Hawaii
US/Indiana-Starke
US/Michigan
US/Mountain
US/Pacific
US/Samoa
UTC
Universal
W-SU
WET
Zulu

In [ ]:
print(time_pecifice.strftime('%B %d, %Y'))

April 16, 2022

In [ ]:
abc= dt.datetime.strptime('March 09, 2022','%B %d, %Y')

In [ ]:
print(abc)

2022-03-09 00:00:00

In [ ]:
! pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (4.6.3)

In [ ]:
! pip install requests
! pip install pandas

In [ ]:
import requests as req
from bs4 import BeautifulSoup as bs
page = req.get('https://www.goodreads.com/author/quotes/399523.Imran_Khan')
soup = bs(page.content, 'html.parser')
quotes = soup.find_all(class_='quoteText')
#print(quotes)

In [ ]:
import pandas as pd

In [ ]:
text = pd.DataFrame(quotes)
print(text)

                                                    0
0   [\n      It is not defeat that destroys you,i...
1   [\n      The more you study, the more you kno...
2   [\n      I have always believed that one shou...
3   [\n      Never give up, no matter how hard li...
4   [\n      Lack of rule of law is the main reas...
5   [\n      Are we Pakistanis, children of a les...
6   [\n      Compromise for your Dream but NEVER ...
7   [\n      We must speak the truth if we are to...
8   [\n      Crime should not pay, it must be pun...
9   [\n      Leader leads people. Leader does not...
10  [\n      Holy Prophet PBUH promulgated a just...
11  [\n      I felt like the Islamic scholar Muha...
12  [\n      Faith without wisdom and knowledge c...
13  [\n      There is so much debate about modera...
14  [\n      My Pakistanis, you have not left me ...
15  [\n      Imran Khan asked Pakistanis of four ...
16  [\n      When I was older, I found Iqbal's wo...
17  [\n      Certain folks start playing Sindh Ca...
18  [\n      Allah exalts whom he wills!\n  , []...
19  [\n      The war on terror is the most insane...
20  [\n      Mothers train your children to only ...
21  [\n      Bravery is standing with the truth a...
22  [\n      Truth is the power that will resolve...
23  [\n      Prophet (PBUH) considered the ink of...
24  [\n      I want you all to stand like the Mus...
25  [\n      Say goodbye to the IMF once and for ...
26  [\n      Good deeds must be rewarded by the s...
27  [\n      There are greater goals in life than...
28  [\n      Ethnic-based politics is being used ...
29  [\n      When you remove the concept of rewar...

/usr/local/lib/python3.7/dist-packages/pandas/core/internals/construction.py:540: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  values = np.array([convert(v) for v in values])

In [ ]:
text.to_csv('textQuotes')

In [ ]:
#zip funtion
l1=[1,2,3,4,5,5]
l2=['one','two','three','four','five','six']
ziplist=list(zip(l1,l2))
print(ziplist)

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four'), (5, 'five'), (5, 'six')]

In [ ]:
unizpped = list(zip(*ziplist))
print(unizpped)

[(1, 2, 3, 4, 5, 5), ('one', 'two', 'three', 'four', 'five', 'six')]

In [ ]:
for (la,lb) in zip(l1,l2):
  print(la)
  print(lb)

1
one
2
two
3
three
4
four
5
five
5
six

In [ ]:
items = ['apple','bannana','orange']
counts= [3,6,3]
prices=[0.23,1.34,0.45]
sentences = []
for (item,count,price) in zip(items,counts,prices):
  item,count,price= str(item),str(count),str(price)
  sentence = 'I bought ' + count + ' '+ item + 's at '+ price + ' each'
  sentences.append(sentence)
print(sentences)

['I bought 3 apples at 0.23 each', 'I bought 6 bannanas at 1.34 each', 'I bought 3 oranges at 0.45 each']

In [ ]:
#Tic Tac Toe game
#functions needed in that
#board
#display board
#handle turn
#check win
  #check row
  #check columns
  #check diagonal
#check tie
#flip player

In [ ]:
#how board looks like
board =['-','-','-',
         '-','-','-',
         '-','-','-']
#Decide who wins the game
winner = None
#who plays first 
current_player = 'X'

#function that displays tic tac board
def display_board():
  print(board[0] + ' | ' + board[1]+ ' | '+ board[2])
  print(board[3] + ' | ' + board[4]+ ' | '+ board[5])
  print(board[6] + ' | ' + board[7]+ ' | '+ board[8])

# This helps to keep game going unless finds some winner
game_still_going = True


def play_game():

  display_board()

  while game_still_going:


    #keep players switch between turns

    handle_turn(current_player)

    #Check for game has ended

    check_if_game_over()

    # switch between players

    flip_player()

    # end game 

    if winner == 'X' or winner == 'O':
      print(winner + ' Won')

    elif winner == None:
      print('Tie')

def handle_turn(player):

  print(player + 's turn.')

  position = input('Choose a position 1-9')
  valid =False
  while not valid:
    while position not in ['1','2','3','4','5','6','7','8','9']:
      position = input('Invalid Input. Choose a position from 1-9: ')
    position = int(position) - 1
    if board[position] == '-':
      valid = True
    else:
      print('You Cant Choose There, Try Again')

  board[position] = current_player

  display_board()

def check_if_game_over():

  check_if_win()

  check_if_tie()

def check_rows():

  global game_still_going
  

  row_1 = board[0] == board[1] == board[2] != '-'

  row_2 = board[3] == board[4] == board[5] != '-'

  row_3 = board[6] == board[7] == board[8] != '-'

  if row_1 or row_2 or row_3:

    game_still_going = False

    if row_1:

      return board[0]

    elif row_2:

      return board[3]

    elif row_3:

      return board[6]


  return

def check_columns():
  global game_still_going
  

  column_1 = board[0] == board[3] == board[6] != '-'

  column_2 = board[1] == board[4] == board[7] != '-'

  column_3 = board[2] == board[5] == board[8] != '-'

  if column_1 or column_2 or column_3:

    game_still_going = False

    if column_1:

      return board[0]

    elif column_2:

      return board[1]

    elif column_3:

      return board[2]


  return


def check_diagonal():


  global game_still_going
  

  diagonal_1 = board[0] == board[4] == board[8] != '-'

  diagonal_2 = board[6] == board[4] == board[2] != '-'


  if diagonal_1 or diagonal_2:

    game_still_going = False

    if diagonal_1:

      return board[0]

    elif diagonal_2:

      return board[6]


  return

def check_if_win():

  global winner

  row_winner= check_rows()

  column_winner = check_columns()

  diagonal_winner = check_diagonal()

  if row_winner:

    winner = row_winner
  
  elif column_winner:

    winner = column_winner

  elif diagonal_winner:

    winner = diagonal_winner

  else:
    
    winner = None

  return

def check_if_tie():

  if '-' not in board:
    global game_still_going

    game_still_going = False

  return

def flip_player():

  global current_player

  if current_player == 'X':

    current_player = 'O'

  elif current_player == 'O':

    current_player = 'X'

  return

play_game()

- | - | -
- | - | -
- | - | -
Xs turn.
Choose a position 1-94
- | - | -
X | - | -
- | - | -
Tie
Os turn.
Choose a position 1-95
- | - | -
X | O | -
- | - | -
Tie
Xs turn.
Choose a position 1-95
You Cant Choose There, Try Again
Invalid Input. Choose a position from 1-9: 6
- | - | -
X | O | X
- | - | -
Tie
Os turn.
Choose a position 1-97
- | - | -
X | O | X
O | - | -
Tie
Xs turn.
Choose a position 1-92
- | X | -
X | O | X
O | - | -
Tie
Os turn.
Choose a position 1-93
- | X | O
X | O | X
O | - | -
O Won