# Creating a Calculator

In [ ]:
# ask user for calculation to be performed
operation = input('Would you like to add/sub/mul/divide..?')
print(f'You chose : {operation}')
if operation == 'sub' or 'divide':
  print('Please keep in mind that the order of number matters')
num1=input('Enter your First number')  
num2=input('Enter your second number')
print(f'The numbers you entered are : {num1} , {num2}')
try:
  num1,num2=float (num1), float (num2)
  if operation == 'add':
    result = num1 + num2
    print(f'The sum of {num1} + {num2} is {result}')
  elif operation == 'sub':
    result = num1 - num2
    print(f'The subtraction of {num1} and {num2} is {result}')
  elif operation == 'mul':
    result = num1 * num2
    print(f'The multiplication of {num1} and {num2} is {result}')
  elif operation == 'divide':
    result = num1/num2
    print(f'The divide of {num1} and {num2} is {result}')
  else:
    print(f'You might have entered wrong,  Chose {operation}')
except:
  print('Error: Improper numbers are used')

Would you like to add/sub/mul/divide..?divide
You chose : divide
Please keep in mind that the order of number matters
Enter your First number15
Enter your second number3
The numbers you entered are : 15 , 3
The divide of 15.0 and 3.0 is 5.0

# Lists and Loops

In [ ]:
#Declaring list of numbers
nums=[3,234,4,23,4,34,24,35]
print(nums)

[3, 234, 4, 23, 4, 34, 24, 35]

In [ ]:
# List with-in a list
data =[5,'book',[24,'Hello',False], True]
print(data)

[5, 'book', [24, 'Hello', False], True]

In [ ]:
print(data[2])

[24, 'Hello', False]

In [ ]:
print(data[2][:-1])

[24, 'Hello']

In [ ]:
# using [:] to copy list
c_data=data
print(f'The list : {data} and copied list {c_data} ')

The list : [5, 'book', 'abc', True, 'abc', 'abc'] and copied list [5, 'book', 'abc', True, 'abc', 'abc']

In [ ]:

print(f'The list : {data} and copied list {c_data} ')

The list : [5, 'book', [24, 'Hello', False], True] and copied list [5, 'book', 'abc', True]

In [ ]:
c_data.append('abc')
print(c_data)

[5, 'book', 'abc', True, 'abc', 'abc']

In [ ]:
#Using For Loops
for num in range(5):
  print('Value : {}'.format(num))

Value : 0
Value : 1
Value : 2
Value : 3
Value : 4

In [ ]:
#writing while Loop
health=10
while health>0:
  print(health)
  health-=1

10
9
8
7
6
5
4
3
2
1

In [ ]:
# Compute Pay
hours=int (input("Enter your working hours : "))
rate = 10
if hours > 40:
  e_hours= hours - 40
  avg_hour_rate=rate*40
  g_pay=e_hours * rate * 1.5 + avg_hour_rate
  print(f'Your Pay for this month is : {g_pay}')
else:
  g_pay=rate*hours
  print(f'Your pay for this month is : {g_pay}')

Enter your working hours : 45
Your Pay for this month is : 475.0

In [ ]:
try:
  score=float (input('Please Enter your score in range 0.0-1.0 :'))
  if score >= 0.9 and score <=1.0:
    print('Grade A')
  elif score >=0.8 and score < 0.9:
    print('Grade B')
  elif score >=0.7 and score < 0.8:
    print('Grade C')
  elif score >=0.6 and score < 0.7:
    print('Grade D')
  elif score < 0.6:
    print('Grade F')
  else:
    print('Score Out of range')
except:
  print('Bad Input Error')

Please Enter your score in range 0.0-1.0 :0.98
Grade A

In [ ]:
try:
  age = int (input('Enter your Age : '))
  gender = input('Please mention your gender : M for male and F for Female : ').capitalize()
  marital_status= input('Your Marital Status Y or N : ')
  if gender == 'F':
    print('Your will work in Urban Areas')
  elif gender == 'M' and age > 20 and age < 40:
    print('You Could Work Anywhere')
  elif gender == 'M' and age > 40 and age < 60:
    print('You will work in urban Areas')
  else:
    print('Error')
except:
  print('Bad Input')

Enter your Age : 25
Please mention your gender : M for male and F for Femalem
Your Marital Status Y or Nn
You Could Work Anywhere

In [ ]:
num=int (input('Enter any number +ve or -ve : '))
absolut=abs(num)
print(absolut)

Enter any number +ve or -ve : -45
45

In [ ]:
total_classes = int (input('Enter total number of classes held : '))
attended = int (input ('Enter the number of classes you have attended : '))
percentage = (attended / total_classes) * 100
if percentage >= 75 :
  print('Your are allowed to sit in Exams : ')
else:
  medical=input('Do have some Medical issue Y or N : ').capitalize()
  if medical == 'Y':
    print('You Have medical issue will consider you to sit in Exams :')
  else:
    print('Your are not allowed to sit in Exams : ')

Enter total number of classes held : 32
Enter the number of classes you have attended : 25
Your are allowed to sit in Exams :

In [ ]:
# Take single number and print the sum of all digits
num =int (input('Please Enter Number to find Single-Digit : '))
Single=0
while num > 0:
  sum = num % 10
  num = num // 10
  Single += sum
print(Single)

Please Enter Number to find Single-Digit : 123456789
45

In [4]:
sec=int (input ('Enter number of seconds : '))
if sec < 60 :
  print(f'You Entered seconds : {sec}')
elif sec >= 60 and sec < 3600:
  minutes = sec / 60
  print(f'The seconds in Minutes are : {minutes}')
elif sec >= 3600 and sec < 86400 :
  hrs = sec /3600
  print(f'The seconds in Hrs are : {hrs}')
elif sec >= 86400:
  day = sec / 86400
  print(f'The seconds in days are : {day}')
else:
  print('Please provide valid input')

Enter number of seconds : 3660
The seconds in Hrs are : 1.0166666666666666